body { /*Standard */ 
background: url(12_col.gif) center top repeat-y;
background-size: 90%;
box-sizing: border-box;
margin:0;
padding:0;
}
.header {grid-column: span 12;}
.footer {grid-column: span 12; display: grid;grid-template-columns: repeat(12, 1fr);grid-gap: 2% 2%; padding:1%;}
.container{
	width: 90%;
	height: 90vh;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4,25%);
	grid-gap: 2% 2%;
	
}
.container > .header, section, .sidebar, footer {border: 1px solid #333;}
/* wide-screen från 1200px och uppåt*/
@media only screen and (min-width: 1200px){
	.header{grid-column: span 12;}
	.section1, .section3 {grid-column: span 2;}
	.section2{ grid-column: span 8;}
	.content{grid-column: span 9;}
	.sidebar {grid-column: span 3;}
	.footer {grid-column: span 12; display: grid;grid-template-columns: repeat(12, 1fr);grid-gap: 2% 2%; padding: ;}
	.footer section{grid-column: span 3;}
}

/* Mindre Desktop storlek mellan: 960px-1199px */
@media only screen and (min-width: 960px) and (max-width: 1199px){
	.container{grid-template-columns: repeat(12 , 1fr); grid-template-rows:repeat(4, 25%);}
	.section1, .section3, .footer1, .footer2, .footer3, .footer4 {grid-column: span 3;}
	.section2 {grid-column: span 6;}
	.content {grid-column:span 8;}
	.sidebar {grid-column: span 4;}
}
/* Mobilenheter upp till 768px i storlek*/
@media screen and (max-width: 767px) {
	.container {grid-template-columns: 1fr; grid-template-rows: repeat(6, 25%) 100%; }
	.header, .section1, .section2, .section3, .sidebar, .content, .footer, .footer1, .footer2, .footer3, .footer4 {grid-column: span 1;}
	.footer{grid-template-columns: 1fr; grid-template-rows: 4;}
}
/* Tablets från 769px-959 i storlek. */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {grid-template-rows: repeat(12, 1fr); grid-template-rows: repeat(4, 25%);}
	.section1, .section2, .section3{ grid-column: span 4;}
	.content, .sidebar, .footer1, .footer2, .footer3, .footer4{ grid-column: span 6;}
}

